body{
    background-image: url("https://wallpapercave.com/wp/wp9744435.jpg");
    background-repeat: repeat;
    background-size: cover;
    filter: blur(0.2);
    }
   
.maindiv{
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    background-repeat: repeat;
    background-size: cover;
    font-size: 20px;padding: 20px;
    border-radius: 5px;
    padding: 20px;
}

header{
    color: rgba(255, 0, 0, 0.705);
    text-shadow: 2px 2px rgb(0, 0, 0);
    position: fixed;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    left: 430px;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(rgba(218, 73, 33, 0.821),#fffffff2,rgba(25, 98, 64, 0.841));
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
}
footer{
    color: rgb(126, 21, 21);
    text-shadow: 1px 1px black;
    position: fixed;
    font-size: 30px;
    left: 550px;
    bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    border-radius: 7px;
    
}
#a{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: wheat;
    text-shadow: 2px 2px rgb(0, 0, 0);
    left: 50px;
    bottom: 60px;
    border-radius: 5px;
}
#a1{
    border-radius: 50px;
    background-color: wheat;
    bottom: 30px;
    left: 90px;
}
#b{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}  
#c{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
 #d{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
 #e{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
#f{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
#g{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
#h{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
#i{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
#j{
    text-align: center;
    background: -webkit-radial-gradient(rgb(194, 164, 109),rgba(245, 222, 179, 0.822), rgba(174, 23, 23, 0.456));
    -webkit-text-fill-color: transparent;
    padding: 23px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 


#image{
    width: 300px;
    height: 300px;
    border-radius: 17px;
    
} 